/* *{
    margin: 0;
    padding: 0;
} */

h1{
    text-align: center;
    /* color: ; */
}


.container{
    max-width: 20vw;
    margin: auto;
}

.row{
    display: flex;
}

.button{
    padding: 20px;
    border-radius: 9px;
    width: 20px;
    margin: 10px;
    text-align: center;
}

.input{
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.yellow{
    background-color: rgb(255, 162, 0);
}

.clear{
    width: 15vw;
}